{% extends "bootstrap/base.html" %}
<!-- 页面标题 -->
{% block head%}
    {{ super() }}
    <!-- 对于大多数浏览器，包括 chrome firefox -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico' )}}" type="image/x-icon">
    <!-- 对于 I E -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico' )}}" type="image/x-icon">
{% endblock %}

{% block title %} Flasky {% endblock %}
{% block navbar %}
<!-- 导航栏 -->
<!-- navbar-inverse 颜色反色即黑色 -->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
    <!-- 首个导航标签字体稍大 -->
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Flasky</a>
    </div>
    <!-- 其余导航标签 -->
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/user/zhanghl">zhanghl</a></li>
            <li class="active"><a href="/user/zhanglm">zhanglm</a></li>
        </ul>
    </div>
    </div>
</nav>
{% endblock %}

<!-- 正文 -->
{% block content %}
<div class="container">
    <div class="page-header">
      {% block page_content %}
      {% endblock%}
    </div>
</div>
{% endblock %}